html {
    font-family: Courier;
    font-size: 17px;
}

body {
    color: #e4e7eb;

    background-color: #202124;
}

header {

}

content {
    display: flex;
}

footer {

}

.menu {
    width: 20em;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.menu-submenu {
    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 20px;
}

.menu-submenu-element {
    display: flex;
}

.menu-submenu-item {
    margin: 5px;

    height: 20px;

    display: block;

    cursor: pointer;
}

.content {
    padding-left: 20px;
    min-height: 100%;
    width: 100%;
}

.big-help-text {
    font-family: Consolas;
    font-size: 25px;
}

.help-text {
    font-family: Courier;
    font-size: 17px;

    min-height: 20px;

    margin: 5px;
}

ul {
    list-style-type: none;

    padding: 0;
}

li {
    list-style-type: none;

    margin: 5px 0;
}

p {
    white-space: pre;

    word-wrap: break-word;
}
