body {
    background-color: #f0f0f0;
    font-family: Courier, monospace;
}

.header {
    background-color: #ffffff;

    padding: 5px;

    min-height: 10vh;
    margin: 5px;
    margin-bottom: 10px;
}

.header__name {
    font-size: 25px;

    margin: 2px;
}

.header__discription {
    margin: 2px;
}

.header__language__settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content {
    display: flex;

    margin: 5px;
}

.content__menu {
    background-color: #ffffff;

    margin-right: 10px;
    width: 20%;
}

.content__menu__separator {
    background-color: #f0f0f0;

    min-height: 10px;
}

.content__menu__choose {
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 5px;

    margin-right: 10px;
    width: 90%;
}

.content__menu__settings {
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 5px;

    margin-right: 10px;
    width: 90%;
}

.content__main {
    background-color: #ffffff;

    padding: 5px;

    width: 80%;
}

.content__main__name {
    font-size: 25px;

    margin: 2px;
    padding-bottom: 5px;

    margin-left: 50px;
}

.content__submain__name {
    font-size: 20px;

    margin: 2px;

    margin-left: 20px;
}

.content__main__discription {
    margin: 2px;
}

.content__menu__button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin: 3px;
    padding: 0px;
}

.content__menu__button:hover {
    color: grey;
}

.content__main__guides__image {
    width: 96%;

    padding-left: 2%;
}


.footer {
    background-color: #ffffff;

    margin: 5px;

    margin-top: 10px;
}

.footer__text {
    text-align: center;
}

p {
    margin: 2px;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

button {
    font-family: Courier, monospace;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 3px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
    
}
